.customOverlay {
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(8px);
}
.customModal {
	background: #0b0b22;
	max-width: 500px;
	width: 90vw;
	top: 10%;
	border-radius: 15px;
	padding: 24px;
	//border: 1px solid rgba(130, 130, 149, 0.3);
	//border-image: linear-gradient(318.21deg, #06090f 14.05%, #2c3036 85.29%);
}
