name: Synthetix website CI

on:
  push:
  pull_request:
    branches: [master, dev]

jobs:
  audit:
    # run only on master/dev branch and pull requests
    if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev' || github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/synthetixio/docker-sec-tools/base:12.19
      credentials:
        username: synthetixio
        password: ${{ secrets.GH_PACKAGES_READ_ONLY }}

    steps:
    - name: Checkout
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # pin@v2

    - name: Audit dependencies
      run: audit-ci --critical --report-type important

    - name: Lockfile lint
      run: lockfile-lint -p package-lock.json --type npm --allowed-hosts npm github.com --allowed-schemes "https:" "git+https:" "github:" "git+ssh:"

  build:
    needs: audit
    # run only on audit success or audit skipped
    if: always() && (needs.audit.result == 'success' || needs.audit.result == 'skipped')
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/synthetixio/docker-node/alpine:12.19
      credentials:
        username: synthetixio
        password: ${{ secrets.GH_PACKAGES_READ_ONLY }}

    steps:
    - name: Checkout
      uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # pin@v2

    - name: Cache node modules
      uses: actions/cache@937d24475381cd9c75ae6db12cb4e79714b926ed # pin@v2
      with:
        path: |
          .npm
          node_modules
        key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-node-
          ${{ runner.os }}-
      continue-on-error: true

    - name: Install dependencies
      run: npm install --no-audit

    - name: Lint
      # run only on master/dev branch and pull requests
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev' || github.event_name == 'pull_request'
      run: npm run lint:sarif

    - name: Upload lint results
      # run if lint failed and only on master/dev branch and pull requests
      if: always() && (github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev' || github.event_name == 'pull_request')
      uses: github/codeql-action/upload-sarif@a627e9fa504113bfa8e90a9b429b157a38b1cdbd # pin@codeql-bundle-20210517
      with:
        sarif_file: lint-results.sarif
      continue-on-error: true

    - name: Cache next.js build cache
      uses: actions/cache@937d24475381cd9c75ae6db12cb4e79714b926ed # pin@v2
      with:
        path: .next/cache
        key: ${{ runner.os }}-next.js-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          ${{ runner.os }}-next.js-
      continue-on-error: true

    - name: Build
      run: npm run build

    - name: Compress build
      run: tar -zcvf build.tar.gz .next

    - name: Archive build
      if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/dev' || github.event_name == 'pull_request'
      uses: actions/upload-artifact@27121b0bdffd731efa15d66772be8dc71245d074 # pin@v2
      with:
        name: build
        path: build.tar.gz
